.betSlip {
    width: 150px;
    height: 15px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease;

    &:focus,
    &:hover {
        width: 450px;
        height: auto;
        transform: translateX(0);
    }

    &Header {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        text-decoration: underline;
        text-underline-offset: 2px;
        margin-bottom: 20px;
    }

    &Items {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 20px;
        padding-right: 15px;
    }

    &Item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    &Empty {
        text-align: center;
        padding: 20px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
    }

    &ItemRemove {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &Footer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    &FooterButton {
        width: 100%;
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    &FooterValue {
        font-size: 16px;
        font-weight: 500;
    }

    &FooterStake {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &FooterStakeInput {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    &FooterStakeCurrency {
        font-size: 16px;
        font-weight: 500;
    }
}