.matchRow {
    display: grid;
    grid-template-columns: 300px 60px 40px repeat(18, 1fr) 40px;
    border-bottom: 1px solid #eee;
    align-items: stretch;
    background-color: #fff;

    &:hover {
        background-color: #f9f9f9;
    }

    &CellOddPlaceholder {
        color: #000;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &Cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        font-size: 12px;
        border-right: 1px solid #f0f0f0;

        &:last-child {
            border-right: none;
        }
    }

    &CellInfoColumn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 10px;
        gap: 4px;
    }

    &CellInfoHeader {
        font-weight: bold;
        font-size: 12px;
        color: #222;
    }

    &CellName {
        font-weight: 400;
        font-size: 12px;
        color: #222;
    }
}